@import "../../const";

$BORDER_WIDTH: 1px;
$TRANSPARENT_COLOR: rgba(0, 0, 0, 0);

.edge {
	border: $BORDER_WIDTH solid;

	@media (min-width: $BREAKPOINT) {
		&_top {
			border-right-color: $TRANSPARENT_COLOR;
			border-bottom-color: $TRANSPARENT_COLOR;
			border-left-color: $TRANSPARENT_COLOR;
		}

		&_bottom {
			border-top-color: $TRANSPARENT_COLOR;
			border-right-color: $TRANSPARENT_COLOR;
			border-left-color: $TRANSPARENT_COLOR;
		}
	}
}