@import "../../const";
@import "../edge/edge";

.header {
	$space: 13px;
	width: 100%;
	padding: 0 15px;
	height: 61px;
	display: flex;

	&__dropdown {
		align-items: flex-end;
	}

	&__item {
		padding-left: $space;
		padding-right: $space;
	}

	@media (min-width: $BREAKPOINT) {
		padding: 0 31px;
		height: 56px;
	}
}