.KeyWord {

	&_color {
		&_blue {
			color: #1440ff;
		}

		&_brown {
			color: #b4261a;
		}

		&_green {
			color: #209d20;
		}

		&_pale {
			color: #95a1ad;
		}

		&_light-blue {
			color: #2073c3;
		}
	}
}