@import "../../const";

.Block {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;

	&_indent-b {
		&_xxxs {
			margin-bottom: 6px;
		}

		&_m {
			margin-bottom: 11px;
		}
	}

	&_d-indent-b {
		@media (min-width: $BREAKPOINT) {
			&_xxs {
				margin-bottom: 9px;
			}

			&_m {
				margin-bottom: 12px;
			}
		}
	}

	&_space {
		@each $type, $space in $SPACE {
			&_#{$type} {
				padding: $space;
			}
		};
	}

	&_space-v {
		@each $type, $space in $SPACE {
			&_#{$type} {
				padding-top: $space;
				padding-bottom: $space;
			}
		};
	}

	&_space-h {
		@each $type, $space in $SPACE {
			&_#{$type} {
				padding-left: $space;
				padding-right: $space;
			}
		};
	}

	@media (min-width: $BREAKPOINT) {
		&_d-space-h {
			&_xs {
				padding-left: 9px;
				padding-right: 9px;
			}
		}
	}
}