@import "../../const";

.PageDescription {
	padding: 11px 0;

	&-Select {
		color: #7F8285;
		margin-bottom: 6px;
	}

	&-Icon {
		right: -14px;
		transform: translate(0%, -60%);
	}

	@media (min-width: $BREAKPOINT) {
		padding: 12px 0;

		&-Select {
			margin-bottom: 7px;
		}

		&-Icon {
			right: -16px;
		}
	}
}