@import "../../const";

.Text {
	&_weight {
		&_bold {
			font-weight: bold;
			color: #000;
		}
	}
	&_size {
		&_s {
			font-size: 12px;
		}

		&_m {
			font-size: 13px;
		}

		&_l {
			font-size: 14px;
		}

		&_xl {
			font-size: 16px;
		}

		&_xxl {
			font-size: 17px;
		}
	}

	&_type {
		&_person {
			white-space: nowrap;
			color: inherit;
			text-decoration: none;
			display: inline-block;

			&::first-letter {
				color: #FF3029;
			}
		}

		&_link {
			color: #1774e9;
			text-decoration: none;
		}
	}

	&_l-height {
		&_l {
			line-height: 17px;
		}

		&_xl {
			line-height: 20px;
		}
	}

	&_letter-space {
		&_s {
			letter-spacing: -0.2px;
		}
		&_m {
			letter-spacing: -0.5px;
		}

		&_l {
			letter-spacing: 0.2px;
		}

		&_xl {
			letter-spacing: 0.3px;
		}

		&_xxl {
			letter-spacing: 0.5px;
		}

		&_xxxl {
			letter-spacing: 0.7px;
		}

		&_xxxxl {
			letter-spacing: 1px;
		}
	}

	&_responsive-size {
		&_l {
			font-size: 20px;

			@media (min-width: $BREAKPOINT) {
				font-size: 24px;
			}
		}
	}
}